################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BenchmarkDotNetBigQuery/bin
/BenchmarkDotNetBigQuery/obj
*.user
/BenchmarkDotNetBigQuery/project.lock.json
